.intro-sec .intro{
    text-align: center;
    text-transform: capitalize;
    font-size: x-large;
    color: cyan;
    padding: 20px 0;
}
#mp{
    padding: 20px 2%;
    margin: 0px 5px;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #156135;
}
#mp div{
    width: 45%;
    float: left;
    padding: 20px;
    
}
#mp .pfp img{
    width: 480px;
    height: 600px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px cyan;
}
#mp .info{
    text-align: center;
    padding-top: 210px;
    height: 327px;
    color: #1affa3;
    font-size: x-large;
}
.intro-logo{
    display: grid;
    place-items: center;
    padding: 10%;
}
.intro-logo img{
    width: 150px;
    height: 150px;
}
.intro-logo .svg{
    animation: fill 10s ease forwards 0.1s;
}
.intro-logo #svg {
    stroke-dasharray: 1832.4107666015625;
    stroke-dashoffset: 1832.4107666015625;
    animation: animate 20s ease forwards;
}
@keyframes animate{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #1b1b1b;
    }
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }